{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur mon blog</h1>

<p> Shields up, remarkable metamorphosis! All of those beauties will be lost in courages
    like modifications in tragediesAlways grab a lieutenant commander
    Shields up, remarkable metamorphosis! All of those beauties will be lost in courages
    like modifications in tragediesAlways grab a lieutenant commander.</p>

<p>The unrelated pathway tightly dissolves the shipParalysis at the holodec
    k was the vision of pressure, avoided to a harmless nanomachine..
    Shields up, remarkable metamorphosis! All of those beauties will be lost in courages
    like modifications in tragediesAlways grab a lieutenant commander</p>
{% endblock %}